.about-section{
    padding: 1em;
    display: flex;

    font-size: large;
    flex-direction: column;
    text-indent: 1em;
}


.about-title{
    font-weight: bold;
    margin: 0 auto;
    font-size: xx-large;
    text-decoration: underline;
    padding: 1.5em 0;
}


.about-us{
    font-weight: bold;
    margin: 0 auto;
    font-size: xx-large;
    text-decoration: underline;
    padding: 1em 0;
}


.about-initial{
    margin: 0 auto;
    margin-bottom: 2em;
}


#admin-actions .nav-link.active {
    background-color: rgba(0, 7, 36, 0.801);
    border-radius: 0;
}

#admin-actions .nav-link:hover {
    border-radius: 0;
}

#admin-content .member-face {
    margin-right: 1em;
}

#admin-content .lobito {
    border-left: solid 7px var(--lobitos);
}


#admin-content .pioneiro {
    border-left: solid 7px var(--pioneiros);
}


#admin-content .explorador {
    border-left: solid 7px var(--exploradores);
}


#admin-content .caminheiro {
    border-left: solid 7px var(--caminheiros)
}

#admin-content .encarregado{
    border-left: solid 7px black;
}


.admin-section-title {
    font-size: x-large;
    padding: 1em;
    padding-left: 0;
    padding-bottom: 0.5em;
    border-bottom: solid 1px gray;
    font-weight: bold;
}

.admin-select-tab {
    margin: 1em auto;
    padding: 0;
    justify-content: center;
}

.admin-select-tab .nav-link.active {
    background-color: white;
    border-radius: 0;
}

.admin-select-tab.nav-link:hover {
    border-radius: 0;
}


#all-users-tab {
    border-bottom: solid 3px rgb(255, 145, 0);
}

.color-lobitos-tab {
    border-bottom: solid 3px var(--lobitos) !important;
}

.color-pioneiros-tab {
    border-bottom: solid 3px var(--pioneiros) !important;
}

.color-exploradores-tab {
    border-bottom: solid 3px var(--exploradores) !important;
}

.color-caminheiros-tab {
    border-bottom: solid 3px var(--caminheiros) !important;
}

.color-encarregados-tab{
    border-bottom: solid 3px black !important;
}

.name-toggle:hover {
    text-decoration: underline;
    cursor: pointer;
}

/**

  _____               _ _             
 |  __ \             | (_)            
 | |__) |__ _ __   __| |_ _ __   __ _ 
 |  ___/ _ \ '_ \ / _` | | '_ \ / _` |
 | |  |  __/ | | | (_| | | | | | (_| |
 |_|   \___|_| |_|\__,_|_|_| |_|\__, |
                                 __/ |
                                |___/ 

**/

#pending-content legend {

    font-size: large;
    text-decoration: underline;

}

#pending-content li {
    margin: 1em 0;
}


#pending-content .btn {
    max-height: 3em;
}

#pending-content .btn-success {
    margin: 0 1em;
    margin-left: auto;
}

#pending-content .guardian-info {
    display: flex;
    align-content: center;
    vertical-align: middle;
}

#pending-content .guardian-name {
    font-size: large;
}

/**

  _    _                   
 | |  | |                  
 | |  | |___  ___ _ __ ___ 
 | |  | / __|/ _ \ '__/ __|
 | |__| \__ \  __/ |  \__ \
  \____/|___/\___|_|  |___/
                           
                           

**/



#users-list-page .user-list-info {
    margin-top: 1em;

}

.admin-section-title.users{
    display: flex;
}

.admin-section-title.users input{
    float: right;
    margin-left: auto;
    width: auto;
}

#users-choice li a {
    color: black;
}


.animate {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.alert-pending-user {
    position: absolute;
    right: 10px;
    top: 100px;
}


/**
   _____                     _ _                 
  / ____|                   | (_)                
 | |  __ _   _  __ _ _ __ __| |_  __ _ _ __  ___ 
 | | |_ | | | |/ _` | '__/ _` | |/ _` | '_ \/ __|
 | |__| | |_| | (_| | | | (_| | | (_| | | | \__ \
  \_____|\__,_|\__,_|_|  \__,_|_|\__,_|_| |_|___/
                                                 
**/



#guardians-content .arrow-mobile {
    display: none;
}

#guardians-content .guardian-exchange {
    padding: 1em;
    background-color: white;
}

#guardians-content .card-body {
    border: none;
}

#guardians-content legend {
    font-size: large;
    margin-bottom: 0.1em;
}

#guardians-content .guardian-exchange .i {
    margin-top: 1em;
}


#guardians-content .guardian-exchange .exchanged {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#guardians-content .guardian-exchange .buttons {
    display: flex;
    justify-content: flex-end;
}


#guardians-content .guardian-exchange .btn {
    margin: 0 1em !important;
}

#guardians-content .guardian-exchange .guardians {
    display: flex;
}

/**

  __  __                                       
 |  \/  |                                      
 | \  / | __ _ _ __   __ _  __ _  ___ _ __ ___ 
 | |\/| |/ _` | '_ \ / _` |/ _` |/ _ \ '__/ __|
 | |  | | (_| | | | | (_| | (_| |  __/ |  \__ \
 |_|  |_|\__,_|_| |_|\__,_|\__, |\___|_|  |___/
                            __/ |              
                           |___/               

**/


.managers-container header {
    text-align: center;
}


.manager-info .btn {
    margin-left: auto;
    justify-self: flex-end;
}

.manager-info {
    margin-top: 1em;
}

.add-manager{
    float: right;
    margin-top: 1em;
    margin-right: 2.1em;
}

/**

  _____                                 _           
 |  __ \                               (_)          
 | |__) |___  ___ _ __   ___  _ __  ___ ___   _____ 
 |  _  // _ \/ __| '_ \ / _ \| '_ \/ __| \ \ / / _ \
 | | \ \  __/\__ \ |_) | (_) | | | \__ \ |\ V /  __/
 |_|  \_\___||___/ .__/ \___/|_| |_|___/_| \_/ \___|
                 | |                                
                 |_|                                

**/



@media(max-width:770px) {



    #admin-content .nav-item{
        margin-top: 0.5em;
    }

    #guardians-content .admin-section-title {

        font-size: large;
        padding: 0.5em;
        padding-left: 0;
        padding-bottom: 0.5em;
    }

    #guardians-content .arrow-desktop {
        display: none;
    }

    #guardians-content .arrow-mobile {
        display: initial !important;
    }

    #guardians-content .arrow {
        margin-top: 1em;
    }

    #pending-content .btn-success {

        margin: 1em 0 !important;

    }

    #managers-content .btn{
        justify-self: center;
        align-self: center;
        margin: 1em 0 !important;
    }

    #guardians-content .guardian-exchange .buttons {
        justify-content: center !important;
    }

    .alert-pending-user {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        top: initial !important;
        right: initial !important;
    }

    #admin-content .member-face{
        justify-self: center;
        align-self: center;
        margin: 0 1em;
    }


    #guardians-content .guardian-exchange .guardians {
        flex-direction: column;
    }

    .admin-section-title.users {
        text-align: center;
        flex-direction: column;
        margin: 0 auto;
        width: auto;
    }

    .admin-section-title.users input{
        margin: 0 auto;
        
    }



}
body {
  background-color: #ffffff;
  color: #9b4dca;
}
main > header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  background-color: #d2afe7;
  padding: 1em;
  margin: 1em;
}
main > header h1 {
  margin: 0;
}
main > header a.button {
  margin: 1em;
  justify-self: center;
}
main > header span {
  margin: 1em;
  justify-self: center;
}
#cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#cards article.card {
  display: flex;
  flex-direction: column;
  background-color: #d3edc3;
  padding: 1em;
  margin: 1em;
}
#cards article.card header {
  display: flex;
  align-items: center;
}
#cards article.card header h2 {
  flex-grow: 1;
}
#cards article.card header a.delete {
  display: none;
  font-size: 2.6rem;
  margin-top: .5rem;
  margin-bottom: 2.5rem;
  line-height: 1.25;
}
#cards article.card header:hover a.delete {
  display: inline;
}
#cards article.card li {
  list-style-type: none;
}
#cards article.card li label {
  display: flex;
  align-items: baseline;
}
#cards article.card li label span {
  margin-left: .5em;
  flex-grow: 1;
}
#cards article.card li label a {
  display: none;
}
#cards article.card li label:hover a {
  display: inline;
}
#cards article.card input:checked + span {
  text-decoration: var(--primary-color) solid line-through;
}
#cards article.card ul {
  margin: 0;
}
#cards article.card form {
  margin: 0;
}
#cards article.card input[type=text] {
  background-color: white;
  margin: 0;
}
#content label {
  font-weight: normal;
}
#content > form {
  margin: 0 auto;
  padding: 1em;
  max-width: 20em;
  border: 1px solid #d2afe7;
}
#content > form .error {
  font-weight: bold;
  color: #ff3333;
}
#content > form input {
  background-color: white;
}
@media (max-width: 70em) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
  }
  main > header {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  main > header h1 {
    grid-row-end: span 2;
  }
}
@media (max-width: 40em) {
  #cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 25em) {
  body {
    margin: 0;
  }
  main > header {
    margin: 0;
    padding: 0.5em;
  }
  main > header span {
    margin: 0;
  }
  #content form {
    margin: 0;
    max-width: 25em;
  }
  article.card {
    margin: 0;
    border-bottom: 1px solid rgba(96, 108, 118, 0.4);
  }
}
/**
 * Overide milligram colors
 * Some styles might be missing
 **/
button {
  background-color: #9b4dca;
  border-color: #9b4dca;
}
a.button {
  background-color: #9b4dca;
  border-color: #9b4dca;
}
a.button.button-outline {
  color: #9b4dca;
}
a {
  color: #9b4dca;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #9b4dca;
}

body {
  --border-calendar: rgba(128, 128, 128, 0.767);
}

time.icon {
  font-size: 1em;
  display: block;
  position: relative;
  width: 8em;
  height: 8em;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

time.icon .event-card-month {
  font-size: 150%;
  color: white;
  background-color: var(--dark-b);
  width: 8em;
}

time.icon .event-card-day {
  font-size: 250% !important;
  color:var( --dark-bg-color);
}

time.icon .event-card-week-day {
  margin-top: 1rem;
 
}

@media(max-width:770px) {


  time.icon {
    flex-direction: row;
    padding:0 !important;
    justify-content: center;
    width: 100% !important;
    text-align: center;
    height: 3em;
    color: white;
    margin: 0;
    border-bottom: solid 1px black;
    background-color:var(--dark-bg-color);
  }

  time.icon .event-card-month {
    font-size: large;
    font-weight: normal;
    width: auto;
    margin: 0;
    background-color:transparent !important;
  }

  time.icon .event-card-day {
    font-size: large;
    font-weight: normal;
    margin: 0 0.3em;
  }

  time.icon .event-card-week-day {
    font-weight: lighter;
    margin: 0;
  }
  time.icon .event-card-week-day::after {
    content: " - ";
  }
}


/*          BIG CALENDAR    */

#calendar {
  margin: 0 auto;
}

#calendar h4,
#calendar h6 {
  margin: 0;
}

/* #calendar .row.week:last-child .col:first-child {
  border-radius: 0 0 0 15px !important;
}

#calendar .row:nth-child(2) .col:last-child {
  border-radius: 0 15px 0 0 !important;
} */

.day .current-day span {
  background-color: rgba(253, 147, 147, 0.698);
  font-weight: bolder;
  padding: 0.2em;
  border-radius: 50%;
  margin-top: 0.3em;
}

.day {
  width: 100%;
  background-color: white;
  color: black;
  text-align: right;
  vertical-align: top;
  padding: 0.25em;
  height: 100%;
  margin: 0;
  height: 6em;
  ;
}

#calendar .row.week:last-child .col:first-child {
  border-radius: 0 0 0 15px !important;
}

#calendar .row.week:last-child .col:last-child {
  border-radius: 0 0 15px 0 !important;
}

#calendar .row:nth-child(2) {
  border-top: solid 1px var(--border-calendar);
}

#calendar .col:first-child {
  border-left: solid 1px var(--border-calendar);
  ;
}

#calendar .col {

  border-right: solid 1px var(--border-calendar);
  ;
  border-bottom: solid 1px var(--border-calendar);
  ;
}

.day .day-value {
  font-weight: 500;
  font-size: large;
}

.week-day {
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  padding: 1em;
  height: 100%;
  margin: 0;
}

.text-muted .day-value {
  color: grey;
  font-weight: lighter;
}

.month {
  padding: 1em 0.25em 0em 0.25em;
  vertical-align: middle;
  text-align: center;
}

.month .month-name {
  margin-bottom: 0;
  font-size: xx-large;
  font-weight: normal;
}

.previous-month {
  padding: 1em 0.25em 0em 1em;

  vertical-align: middle;
  text-align: center;
}

.next-month {
  padding: 1em 1em 0em 0.25em;
  vertical-align: middle;
  text-align: center;
}

.month-selector:hover {
  font-weight: bolder;
}

.calendar-mobile {
  display: none;
}

@media(max-width:770px) {
  .calendar-desktop {
    display: none;
  }

  .calendar-mobile {
    display: initial !important;
  }



  .week-day {
    height: 4em;
    width: auto;
    padding: 0.5em;
  }

  .day {

    height: 5em;
    width: auto;
    padding: 0.1em 0.3em;
  }

  .month {
    padding: 0.3em;
  }

  .month-name {
    font-size: large;
    font-weight: bold;
    height: auto;
    margin: 0;
  }

  .previous-month {
    height: auto;
    padding: 0.1em;
    padding-left: 0.5em;
  }

  .next-month {
    height: auto;
    padding: 0.1em;
    padding-right: 0.5em;
  }
}

/* time.icon:hover, time.icon:focus
{
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
} */

/* @keyframes swing {
  0%   { transform: rotate(0deg); }
  20%  { transform: rotate(12deg); }
  60%  { transform: rotate(-9deg); }
  80%  { transform: rotate(6deg); }
  100% { transform: rotate(0deg); }
} */
body {
    --main-bg-color: rgba(168, 159, 159, 0.233);
    --dark-bg-color: rgba(0, 7, 36, 0.801);
    --dark-sec-bg-color: #232A07;
    --dark-brown: #33281f;
    background-color:#f8f7faea;
    /* background-color: rgba(226, 218, 213, 0.157); */

    --dark-blue: rgba(2, 5, 24, 0.527);
    --grey-blue: rgba(32, 34, 51, 0.527);
    --dark-blue-opaque: rgb(12, 14, 29);
    --light-beige: rgba(202, 161, 65, 0.219);
    --light-b: rgba(206, 179, 120, 0.596);
    --dark-b: rgba(32, 34, 51, 0.527);
    --white: rgba(206, 193, 166, 0.678);
    --light-grey: rgba(218, 198, 183, 0.226);
    --light: rgb(211, 193, 179);

    /* Cores de Secção */
    --lobitos: rgba(255, 255, 0, 0.7);
    --exploradores: rgba(0, 128, 0, 0.7);
    --pioneiros: rgba(0, 0, 255, 0.7);
    --caminheiros: rgba(255, 0, 0, 0.7);

    --card-width:35em;
    --card-height:calc(-2em + 35em*3/5);

    /* Tamanho das fontes */
    --font-size-navbar-website-name:23pt;
    --font-size-navbar-actions:14pt;
    --font-size-regular:14pt;
    --font-size-subtitle:24pt;
    --font-size-page-title:30pt;

        /* Cards */
    --font-size-card-subtitle:16pt;
    --font-size-homepage-card-title:24pt;
    --font-size-homepage-group-card-title:12pt;
    --letter-spacing-family-animated-cards:2px;

    /* Animated font  */
    --font-family-animated: 'Amatic SC', cursive;
    --letter-spacing-family-animated: 4px;
    --font-size-family-animated-regular:14pt;
    --letter-spacing-family-tags-animated:1px;
}

#navbar .navbar-text{
    font-size: var(--font-size-navbar-actions);
}

#navbar * {
    color: rgb(211, 193, 179);
}


#navbar .navbar-toggler-icon{
    color: white;
}

.navbar-manage-kid{
    font-size:large;
    margin-right:1em;
}

#manage-kids-faces label:hover{   
    font-weight: bold;
}

.navbar-section-manage {
    font-size: large;
    margin-right: 1em;
}

#navbar {
    background-color: var(--dark-bg-color);
    border-bottom: solid var(--dark-bg-color) 3px;
    margin-bottom: 1em;
}

#website-name{
    
    font-size: var(--font-size-navbar-website-name);
    letter-spacing: 5px;
    margin-left: 0.1em;
}

#website-name img{
    margin-right: 0.3em;
    width:1.5em;
    height:1.5em;
}


#search{
    display: flex;
    align-content: center;
    background-color: #fff;
    border-radius: .25rem;
    margin-right: 2em;
}
#search input{
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: solid 1px grey;
}

#search .advanced{

    display:inline-block;
    width:100%;
    height:100%;
    background-color: white;
    padding: 0 1em;
    vertical-align: middle;
    align-self: center;
    color: black;
}

#search .advanced:hover{
    cursor: pointer;
}

#search i{
    height: 100%;
    color: black;
}

#search input[type="search"]{
    color: black;
}

#search input[type="search"]:focus{
    box-shadow: none;
}

#manage-children-modal{
    top:30%;
}


footer{
    text-align: center;
    font-size: large;
    font-weight: lighter;
    color: black;
    bottom: 0;
    margin-top: 3em;
}

.common-page-subtitle{
    font-size:var(--font-size-subtitle);
}



@media(max-width:770px){
    #manage-children-modal .modal-dialog{
        top: initial !important;
        bottom: 20px;
        margin: 0 auto;
    }

    #search .advanced{
        width: auto;
    }
}

body{
    --create-group-image-size: 25%; 
    --create-group-image-border: 4px;
    --create-group-image-original-size:160px;
    --screen-size:100%;
    --bg-img: url("../images/test8.jpg");
}


.background-container{
    background-color: var(bg-color);
    height: 100vh;
    width:100%;
    opacity: 0.8;
    background-size: cover;
    z-index: -1;
}
#navbar{
    margin-bottom: 0;
}
#create-group-page form {
    color: black;
}

.create-group-image {
    border-radius:50%;
    width: 25%;
}

#create-group-page{
    --create-group-image-size: 25%; 
    --create-group-image-border: 4px;
    --create-group-image-original-size:160px;
    --screen-size:100%;
}

.create-group-top {
    display: block;
    position: relative;
    margin:0em auto;
}

.create-group-top input {
    display: none;
}

.create-group-top label {
    display: block;
}

.create-group-edit-image {
    margin: 0 auto;
    opacity: 0.8;
    cursor: pointer;
    position: absolute;
    bottom: 2px;
    right: calc(var(--create-group-image-border) - 
           var(--create-group-image-original-size)/2 
           + var(--screen-size)/2 - (var(--create-group-image-size) -
           var(--create-group-image-original-size))/2);
}

.create-group-edit-image:hover {
    opacity: 1;
    transition: opacity 0.1s;
}

@media(max-width:1340px) {
    .create-group-edit-image {
        right: calc(var(--create-group-image-border) - var(--create-group-image-original-size)/2 + var(--screen-size)/2);
    }

    .create-group-image {
        width: 10em;
    }
}

#create-group-page button[type="submit"]{
    float:right;
}

.create-group-add-elements{
    background-color:#343a40dc;
}
.create-group-add-elements:hover{
    background-color:#343a40;
    
}

.create-group-buttons{
    display:flex;
    justify-content: space-between;
}


.added-member, .to-add-member{
   
    margin:auto 0.5em;
}

.members-modal-list{
    display: flex;
    flex-direction: row;
}

.added-member figcaption{
    text-align: center;
}

#create-group-modal-body .create-group-member-icon{
    width:4em;
    border-radius:100% !important;
}

.added-members{
    display: flex;
    margin-top:3em;
}

.remove-member-button{
    position: relative;
    left:3em;
    bottom:3em;
    border-radius:100%;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

html * {
    font-family: 'Questrial', sans-serif;
       
}

.events-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.event-wrap .card{
    width: var(--card-width);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin:1.2em 1.2em;
}

.card-block{
    width: 100%;
    background-color: white;
}

.event-wrap .card .card-title {
    letter-spacing: var(--letter-spacing-family-animated-cards);
    font-weight: bolder;
    color: var(--dark-blue-opaque);
    width: inherit;
    padding: 0em 0em;
    font-family: var(--font-family-animated);
}

.event-wrap .card .event-card-header {
    display: flex;
    flex-direction: row;
    margin-right: 0.5rem;
}

/* .triangle{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 35px 35px 0 0;
    border-color: #ff0000 transparent transparent transparent;
} */

.event-wrap .card {
    border:0px;
}

a.card-wrap,
a.card-wrap:hover {
    color: inherit;
    text-decoration: none;
}


.card-block {
    height:var(--card-height);
}

.event-wrap .card-common-groups{
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0.8em auto;
}

.event-wrap .card-group-name{
    margin:0.2em 0.4em;
    padding: 0.2em 0.4em;
    border-radius:4%;
    font-family: 'Indie Flower', cursive;
    font-size:var(--font-size-family-animated-regular);
    letter-spacing:var(--letter-spacing-family-tags-animated);
    background-color: rgba(211, 203, 203, 0.411);
}

.event-wrap .card {
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    
}

.event-comment{
    padding: 0.5em;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}


.event-comment .comment-author{
    font-weight: bold;
}

.event-comment .comment-body{
    text-indent: 2em;
    
}

.event-page .confirm{
    margin-right: 1em;
}

.event-wrap .event-basic-info{
    padding: 0em 1em 0em 0em;
    background-color:white;
    /*box-shadow: 1px 1px 5px #888888;*/
}

.event-wrap .card-subtitle {
    display:flex;
    flex-direction: row;
}

.event-wrap .card-subtitle .loc {
    padding-right: 2em;
}

.event-wrap .event-description-card-text{
    background-color:white;
    /*box-shadow: 1px 1px 5px #888888;*/
}

.event-wrap .event-card-header hr{
    margin:0.2em 0;
}


.event-description-card div{
    background-color:var(--white);
}

.event-wrap .event-description-card-text{
    padding: 1em;
    margin-bottom:0;
    padding-left:2em;
    padding-right:2em;
}

.event-wrap  .formatting-card{
    border-width: 0;
    height: 0;
}

.member-image-caption{
    margin:0 auto;
}

@media(max-width:770px){

    .container{
        width:auto;
    }

    #navbar{
        margin-bottom: 1em !important;
    }
    .event-wrap .card{
        width: auto;
        margin: 0;
        margin-top: 1.5em;
        margin-bottom: 1em;
    }

    .event-wrap .card .card-title{
        font-size: x-large;
        margin-top: 0.5em;
        margin-bottom: 1em;
    }


    .card-test-invited, .group-members{
        display:none;
    }

    .event-basic-info{
        flex-direction: column;
        padding:0 !important;    
    }

    .card-block{
        height:auto;
    }

    .event-wrap time .event-card-day{
        height:auto;
        margin:auto 0.5em;
        order:2;
    }

    

    .event-wrap time .event-card-month{
        order:3;
        font-size: large !important;
    }

    .event-wrap time .event-card-week-day{
        order:1;
        font-size:large;
        
    }

    .event-wrap time .event-card-week-day::after{
        content: "-";
        margin-left:0.5em;
    }

    .event-wrap .card time {
        width: 100% !important;
        justify-content: center;
    }
    

    .events-flex{
        padding: 0;
        margin: 0;
    }

    #home-container{
        padding: 0;
        margin:0;
    }

}



.modal-body{
    padding: 1em 2em;
}



.input-transparent,
.input-transparent:focus{
    background: transparent;
    border-radius: 0;
    border: none;
    outline: none;
}


.map-container{
    position: relative;
    margin:2em auto;
}

#pac-input{
    
}

.input-location{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    border:none;
    padding: 0.2em 1em;
  
}

.input-location i,
.input-location input {
    color: rgba(0, 0, 0, 0.8);
}
.first-row time.icon .event-card-day,
.first-row time.icon .event-card-month,
.date-container time.icon .event-card-day,
.date-container time.icon .event-card-month{
    font-size: large;
}
.choose-data-panel{
    background: white;
}

.input-border{
    border-bottom: 1px solid #ced4da;
}

.input-border:focus{
    box-shadow: 0 1px 0 0 #ce9d73;
    border-bottom: 1px solid #ce9d73;
}


.event-title{
    margin-bottom: 1em;
    font-family: 'Amatic SC', cursive;
    font-size: var(--font-size-page-title);
    letter-spacing: var(--letter-spacing-family-animated);
    font-weight: bolder;
    color: var(--dark-blue-opaque);
}

.input-description{
    resize: none;
}




.price-box{
    display: flex;
    align-items: center;
    margin-bottom: 3em;
}
.euro-sign{
    position: absolute;
    font-weight: bold;
    padding: 5px 0;
}

.input-price{
    font-weight: bold;
    width: auto;
    padding-left: 1em;
}

.input-file-hidden{
    display: none;
}

.search-results{
    margin-top: 1em;
}

.btn-circle {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.event-controls{
    position: fixed;
    bottom:5%;
    right:10%;
}

#date-poll .progress{
    margin: 1em;
    max-width: 50em;
}

.available-dates li {
    list-style: none;
}

.progress{

}

.plus-icon{
    max-width: 40px;
    border-radius:50%;
    color:rgb(255, 255, 255);
    background-color:rgba(0, 7, 36, 0.801);
    padding:0.2em;
    right:5%;
    bottom: 5%;
    transition: 0.2s all;
}

.plus-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}


.event-card-month{
    background-color:rgba(0, 7, 36, 0.801) !important;
    padding:0.1em 0;
    color: white !important;
    font-size: x-large !important;
}

.events-flex .card{
    transition: box-shadow .24s cubic-bezier(.4,0,.3,1),background-color .24s cubic-bezier(.4,0,.3,1);
}

.events-flex .event-wrap time{
    transition: box-shadow 0.4s cubic-bezier(.4,0,.3,1),background-color 0.4s cubic-bezier(.4,0,.3,1);
}

.events-flex .event-wrap time .event-card-week-day{
    font-size: var(--font-size-regular) ;
}

.events-flex .card{
    box-shadow: 0 4px 15px 0 rgba(27, 30, 36, 0.144), 0 2px 2px 0 rgba(40, 44, 53, 0.144);
}

.event-basic-info{
    display:flex;
}


.event-basic-info time{
    justify-content: space-between;
    padding-bottom: 8.8em;
    width: 7em !important;
}


.events-flex .event-wrap time{

    box-shadow: 0 4px 15px 0 rgba(40,44,53,.06),0 4px 15px 0 rgba(40,44,53,.06);
    /* justify-content: space-between !important; */
}


.event-basic-info time .event-card-week-day{
    margin-top:0;
}

.sec{
    height:22px;
}
.center-container-vertically{
    margin-top:0.4em;
    margin-left:0.5em;
}


.event-card-day{
    height:2em;
    margin-top:0.1em;
}
/* 
.event-wrap:hover{
    background: url("http://www.viseu.cne-escutismo.pt/photos/news/68/682rvuoth9.jpg") no-repeat;
} */

/* .event-wrap:hover:before {
    content: '';
    display: block;
    background: url("http://www.viseu.cne-escutismo.pt/photos/news/68/682rvuoth9.jpg") no-repeat;
    width: 100%; 
    height: 12em; 

  } */


  .event-line{
    margin: 1em auto 0em auto;
    height:0;
    border-color:rgba(0, 7, 36, 0.164) !important;
    border-width: 1px;
    width: 90%;
  }

  .center-container-vertically .text-muted{
    color:rgba(0, 7, 36, 0.801) !important;
  }

  .event-info .group-members{
      justify-content: baseline;
      padding-bottom: 0.5em;
      margin-bottom:0 !important;
      margin:0.5em auto 0.5em 0em;
      font-size:var(--font-size-regular);
  }

  .bottom-card{
      background-color:white;
  }

  .card-test-invited{
      margin-top:0.6em;
      font-size: var(--font-size-card-subtitle);
  }

  .event-info .card-title{
      font-size:var(--font-size-homepage-card-title);
  }

  .event-info .text-muted{
      font-size:var(--font-size-regular);
  }


#faq-header{
    
    font-size: x-large;
    font-weight: lighter;
    padding: 1em 0;
    border-bottom: solid 1px black;
    margin-bottom: 0.5em;
}


#initial-navbar #website-name {
    font-size: 3em;
}

 #initial-navbar #website-name img {
    margin: 0;
    margin-top: 0.16em;
}
html * {
    font-family: 'Questrial', sans-serif;
}

.group-wrap {
    width: 35em;
    margin: 1em;
    border-radius: 1%;
    background-color: white;
}



.group-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.group-image {
    border-radius: 100%;
    width: 5em;
    height: 5em;
    margin-left: 1em;
    margin-top: 0.6em;
}


.group-top-side {
    padding: 0;
    display: flex;
    justify-content: flex-start;

}


.group-container .card-body {
    display: flex;
}

.group-container .card-body .rounded-circle {
    width: 2em;
    margin: 0.5em 1em;
}

.group-container .card-body label {
    font-size: 70%;
}

.moderators-container .member-container,
.members-container .member-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.member-container .member-wrap {
    margin: 0.5em;
}


.group-wrap {
    margin: 1em;
}

.group-card-wrap {
    margin: 0;
    padding: 1em;
}


.member-wrap {
    margin: 0 0 !important;
    display: inline-block;
}


.group-member-name {
    font-size: medium;
    ;
    margin: 0;
}

.group-members div:not(:last-child):after {
    content: ",";
    margin-right: 0.4em;
    font-size: medium;
}

.group-members {
    padding: 0;
    margin: 0.5em auto 0.5em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    align-content: flex-start;
}

.group-title {
    letter-spacing: 8px;
    font-weight: bolder;
    color: var(--dark-blue-opaque);
    font-size: 180%;
    width: inherit;
    padding: 0.2em 1em;

    font-family: 'Amatic SC', cursive;
}

.group-member-name {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.group-member-name:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}


.group-event {
    margin: 0.2em 0.4em;
    padding: 0.2em 0.4em;
    font-size: 120%;
    border-radius: 2%;
    font-family: 'Indie Flower', cursive;
    background-color: rgba(211, 203, 203, 0.411);
}

.group-next-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    margin: 0 1em 0 1em;
}

.group-header {
    display: flex;
    flex-direction: column;

}

.group-line {
    margin: 0.5em auto;
    border-color: rgba(141, 138, 138, 0.308);
    border-width: 0.08em;
    width: 70%;
}

.group-events.event-wrap time{
    box-shadow: 0 4px 15px 0 rgba(40,44,53,.06),0 4px 15px 0 rgba(40,44,53,.06);
}

.nav-tabs{
    border: black;

}

.nav-item{
    border-color: whitesmoke;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: whitesmoke;
}

#event-view-toggle{

    position: absolute;
    top: 85px; 
    right: calc((100% - 560px )/2);

}

#nav-tab{
    margin-left: calc((100% - 560px )/2);
}

@media(min-width:1199px){
    #nav-tab{
        margin-left: calc((100% - 2*560px - 28px)/2);
    }

    #event-view-toggle{
        right: calc((100% - 2*560px - 28px)/2);
    }
}

@media(min-width:1793px){
    #nav-tab{
        margin-left: calc((100% - 3*560px - 58px)/2);
    }

    #event-view-toggle{
        right: calc((100% - 3*560px - 58px)/2);
    }
}

@media(max-width:992px){
    #nav-tab{
        margin-left: 5px;
    }
    
    #event-view-toggle{
        position: initial;
        margin-top: -2.6em;
        float: right;
    }
}

@media(max-width:330px){
    #nav-tab{
        margin-left: 5px;
    }
    
    #event-view-toggle{
        position: initial;
        margin-top: initial;
        float: right;
    }
}

#manage-kids-faces label:hover{   
    font-weight: bold;
}

.add-icon{
    width:20%;
    max-width: 3.5em;
    position: fixed;
    border-radius:50%;
    color:rgb(255, 255, 255);
    background-color:rgba(0, 7, 36, 0.801);
    padding:0.2em;
    right:5%;
    bottom: 5%;
    transition: 0.2s all;
}

.add-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.bg-lobitos{
    background: var(--lobitos) !important;
}
.bg-pioneiros{
    background: var(--pioneiros) !important;
}
.bg-exploradores{
    background: var(--exploradores) !important;
}
.bg-caminheiros{
    background: var(--caminheiros) !important;
}
@font-face {
    font-family: 'Aileron Light';
    src: url('/fonts/aileron/Aileron-Light.otf') format("opentype");
}

@font-face {
    font-family: 'Bariol';
    src: url('/fonts/Bariol_Regular.otf');
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}




/* Variables */

.initial-page {
    --bg-img: url("../images/test8.jpg");
    --container-color: rgba(255, 255, 255, 0.2);
    --shadow-color: rgba(0, 0, 0, 0.2);
    --font-light-color: white;
    --font-dark-color: black;
    --input-bg-color: rgba(255, 255, 255, 0.6);
    --name-color: rgba(255, 255, 255, 0.8);
    --secondary-color: #1B98E0;
    --border-radius: 10px;
}

/* Background */

.bg-log-in {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--bg-img);
    height: 100vh;
    background-size: cover;

    z-index: -1;
}




/* Navbar */

.initial-page #initial-navbar {
    background: transparent;
    margin: 1em 2em;
}

.initial-page #initial-navbar #website-name {
    color: var(--name-color);
    font-size: 3em;
}

.initial-page #initial-navbar #website-name img {
    margin: 0;
    margin-top: 0.16em;
}

.initial-page #initial-navbar .nav-opt ul li {
    font-weight: bolder;
    font-size: 1.3em;
}

.initial-page .hiddenanchor {
    position: absolute;
    top: 0;
}




/* Container */

.initial-page-container {
    position: relative;
    padding: 1em;
    max-width: 30em;
    min-width: 10em;
    overflow: hidden;

    /* background-color: var(--container-color); */
    box-shadow: 0 0 20px var(--shadow-color);
    border-radius: var(--border-radius);
    color: var(--font-light-color);

    z-index: 1;
}

.initial-page-container::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: linear-gradient(var(--container-color),
        var(--container-color)),
        var(--bg-img);
    background-size: cover;
    background-attachment: fixed;
    filter: blur(10px);
    z-index: -1;
}

.initial-page-container * {
    z-index: 2;
}

.initial-page-container input {
    background: var(--input-bg-color) !important;
    border: none;
    border-radius: var(--border-radius);
    color: var(--font-dark-color);
}

.initial-page-container input::-webkit-input-placeholder {
    color: var(--font-dark-color);
}




/* Login */

.initial-page-container #login-submit-button {
    margin-top: 2em;
    margin-bottom: 1em;
    background: var(--secondary-color);
    border: none;
    border-radius: 0;
    display: block;
}

.initial-page-container a.forgot-pass {
    font-size: 0.8em;
    float: right;
    text-decoration: none;
    color: inherit;
}

.initial-page-container a.forgot-pass:hover,
.initial-page-container a.register-btn:hover {
    color: var(--secondary-color);
}




/* Register */

.initial-page-container a.register-btn {
    font-size: 0.8em;
    text-decoration: none;
    color: inherit;
}

.initial-page-container #birth-date::-webkit-inner-spin-button {
    display: none;
}

.initial-page-container .user-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 2em 1em 2em;
}

.initial-page-container .user-type .btn {
    background: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.5);
}

.initial-page-container .user-type .btn.active {
    background: rgba(0, 0, 0, 0.5) !important;
    border-color: rgba(0, 0, 0, 0.5);
}




/* Animation */

.initial-page #register,
.initial-page .nav-item-login {
    display: none;
}

.initial-page #toregister:target~#initial-navbar .nav-opt .nav-item-register,
.initial-page #tologin:target~#initial-navbar .nav-opt .nav-item-login {
    display: none;
}

.initial-page #toregister:target~#initial-navbar .nav-opt .nav-item-login,
.initial-page #tologin:target~#initial-navbar .nav-opt .nav-item-register {
    display: block;
}


.initial-page #toregister:target~.container #register,
.initial-page #tologin:target~.container #login {
    display: block;

    animation-name: fadeInLeft;
    animation-delay: .05s;

    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}


.initial-page #toregister:target~.container #login,
.initial-page #tologin:target~.container #register {
    display: none;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



@media(max-width:770px) {

    .initial-page #initial-navbar {
        margin: 0;
    }

    .initial-page #initial-page-actions li {
        text-align: right !important;

    }
}














/* Footer */


#footer {
    bottom: 0;
    width: 100%;
    background: #6cf;
}

#contact-information {
    margin: 0.5em;
    font-size: 1.5em;
    position: absolute;
    right: 5px;
    top: 0px;
    color: orange;
    transition: all 0.5s ease-in-out;
}

#contact-information:hover {
    cursor: pointer;
    font-size: 1.8em;
}




/*         FOOOTER                */
#footer-information {
    background-color: rgba(0, 7, 36, 0.95);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-delay: .05s;
}

.footer-left {
    flex-grow: 1;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.footer-left div {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

#footer-information p {
    padding: 0;
    margin: 0;
}



#footer-information .footer-left i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-right {
    flex-grow: 1;
    width: 50%;
    max-width: 50%;
    text-align: center;
    padding: 5em;
}
@import url(https://fonts.googleapis.com/css?family=Karla);

.member-container img{
    display: block;
    height: 40px;
    width: 40px;
    margin: 0.5em 0;
}

.member-container label{
    /* font-family: 'Karla', 'Open Sans', Helvetica, arial, sans-serif; */
    font-size: 0.7em;
    text-align: center;
}


/*!
 * Milligram v1.3.0
 * https://milligram.github.io
 *
 * Copyright (c) 2017 CJ Patoilo
 * Licensed under the MIT license
 */

*,*:after,*:before{box-sizing:inherit}html{box-sizing:border-box;font-size:62.5%}body{color:#606c76;font-family:'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size:1.6em;font-weight:300;letter-spacing:.01em;line-height:1.6}blockquote{border-left:0.3rem solid #d1d1d1;margin-left:0;margin-right:0;padding:1rem 1.5rem}blockquote *:last-child{margin-bottom:0}.button,button,input[type='button'],input[type='reset'],input[type='submit']{background-color:#9b4dca;border:0.1rem solid #9b4dca;border-radius:.4rem;color:#fff;cursor:pointer;display:inline-block;font-size:1.1rem;font-weight:700;height:3.8rem;letter-spacing:.1rem;line-height:3.8rem;padding:0 3.0rem;text-align:center;text-decoration:none;text-transform:uppercase;white-space:nowrap}.button:focus,.button:hover,button:focus,button:hover,input[type='button']:focus,input[type='button']:hover,input[type='reset']:focus,input[type='reset']:hover,input[type='submit']:focus,input[type='submit']:hover{background-color:#606c76;border-color:#606c76;color:#fff;outline:0}.button[disabled],button[disabled],input[type='button'][disabled],input[type='reset'][disabled],input[type='submit'][disabled]{cursor:default;opacity:.5}.button[disabled]:focus,.button[disabled]:hover,button[disabled]:focus,button[disabled]:hover,input[type='button'][disabled]:focus,input[type='button'][disabled]:hover,input[type='reset'][disabled]:focus,input[type='reset'][disabled]:hover,input[type='submit'][disabled]:focus,input[type='submit'][disabled]:hover{background-color:#9b4dca;border-color:#9b4dca}.button.button-outline,button.button-outline,input[type='button'].button-outline,input[type='reset'].button-outline,input[type='submit'].button-outline{background-color:transparent;color:#9b4dca}.button.button-outline:focus,.button.button-outline:hover,button.button-outline:focus,button.button-outline:hover,input[type='button'].button-outline:focus,input[type='button'].button-outline:hover,input[type='reset'].button-outline:focus,input[type='reset'].button-outline:hover,input[type='submit'].button-outline:focus,input[type='submit'].button-outline:hover{background-color:transparent;border-color:#606c76;color:#606c76}.button.button-outline[disabled]:focus,.button.button-outline[disabled]:hover,button.button-outline[disabled]:focus,button.button-outline[disabled]:hover,input[type='button'].button-outline[disabled]:focus,input[type='button'].button-outline[disabled]:hover,input[type='reset'].button-outline[disabled]:focus,input[type='reset'].button-outline[disabled]:hover,input[type='submit'].button-outline[disabled]:focus,input[type='submit'].button-outline[disabled]:hover{border-color:inherit;color:#9b4dca}.button.button-clear,button.button-clear,input[type='button'].button-clear,input[type='reset'].button-clear,input[type='submit'].button-clear{background-color:transparent;border-color:transparent;color:#9b4dca}.button.button-clear:focus,.button.button-clear:hover,button.button-clear:focus,button.button-clear:hover,input[type='button'].button-clear:focus,input[type='button'].button-clear:hover,input[type='reset'].button-clear:focus,input[type='reset'].button-clear:hover,input[type='submit'].button-clear:focus,input[type='submit'].button-clear:hover{background-color:transparent;border-color:transparent;color:#606c76}.button.button-clear[disabled]:focus,.button.button-clear[disabled]:hover,button.button-clear[disabled]:focus,button.button-clear[disabled]:hover,input[type='button'].button-clear[disabled]:focus,input[type='button'].button-clear[disabled]:hover,input[type='reset'].button-clear[disabled]:focus,input[type='reset'].button-clear[disabled]:hover,input[type='submit'].button-clear[disabled]:focus,input[type='submit'].button-clear[disabled]:hover{color:#9b4dca}code{background:#f4f5f6;border-radius:.4rem;font-size:86%;margin:0 .2rem;padding:.2rem .5rem;white-space:nowrap}pre{background:#f4f5f6;border-left:0.3rem solid #9b4dca;overflow-y:hidden}pre>code{border-radius:0;display:block;padding:1rem 1.5rem;white-space:pre}hr{border:0;border-top:0.1rem solid #f4f5f6;margin:3.0rem 0}input[type='email'],input[type='number'],input[type='password'],input[type='search'],input[type='tel'],input[type='text'],input[type='url'],textarea,select{-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:transparent;border:0.1rem solid #d1d1d1;border-radius:.4rem;box-shadow:none;box-sizing:inherit;height:3.8rem;padding:.6rem 1.0rem;width:100%}input[type='email']:focus,input[type='number']:focus,input[type='password']:focus,input[type='search']:focus,input[type='tel']:focus,input[type='text']:focus,input[type='url']:focus,textarea:focus,select:focus{border-color:#9b4dca;outline:0}select{background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;padding-right:3.0rem}select:focus{background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#9b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>')}textarea{min-height:6.5rem}label,legend{display:block;font-size:1.6rem;font-weight:700;margin-bottom:.5rem}fieldset{border-width:0;padding:0}input[type='checkbox'],input[type='radio']{display:inline}.label-inline{display:inline-block;font-weight:normal;margin-left:.5rem}.container{margin:0 auto;max-width:112.0rem;padding:0 2.0rem;position:relative;width:100%}.row{display:flex;flex-direction:column;padding:0;width:100%}.row.row-no-padding{padding:0}.row.row-no-padding>.column{padding:0}.row.row-wrap{flex-wrap:wrap}.row.row-top{align-items:flex-start}.row.row-bottom{align-items:flex-end}.row.row-center{align-items:center}.row.row-stretch{align-items:stretch}.row.row-baseline{align-items:baseline}.row .column{display:block;flex:1 1 auto;margin-left:0;max-width:100%;width:100%}.row .column.column-offset-10{margin-left:10%}.row .column.column-offset-20{margin-left:20%}.row .column.column-offset-25{margin-left:25%}.row .column.column-offset-33,.row .column.column-offset-34{margin-left:33.3333%}.row .column.column-offset-50{margin-left:50%}.row .column.column-offset-66,.row .column.column-offset-67{margin-left:66.6666%}.row .column.column-offset-75{margin-left:75%}.row .column.column-offset-80{margin-left:80%}.row .column.column-offset-90{margin-left:90%}.row .column.column-10{flex:0 0 10%;max-width:10%}.row .column.column-20{flex:0 0 20%;max-width:20%}.row .column.column-25{flex:0 0 25%;max-width:25%}.row .column.column-33,.row .column.column-34{flex:0 0 33.3333%;max-width:33.3333%}.row .column.column-40{flex:0 0 40%;max-width:40%}.row .column.column-50{flex:0 0 50%;max-width:50%}.row .column.column-60{flex:0 0 60%;max-width:60%}.row .column.column-66,.row .column.column-67{flex:0 0 66.6666%;max-width:66.6666%}.row .column.column-75{flex:0 0 75%;max-width:75%}.row .column.column-80{flex:0 0 80%;max-width:80%}.row .column.column-90{flex:0 0 90%;max-width:90%}.row .column .column-top{align-self:flex-start}.row .column .column-bottom{align-self:flex-end}.row .column .column-center{-ms-grid-row-align:center;align-self:center}@media (min-width: 40rem){.row{flex-direction:row;margin-left:-1.0rem;width:calc(100% + 2.0rem)}.row .column{margin-bottom:inherit;padding:0 1.0rem}}a{color:#9b4dca;text-decoration:none}a:focus,a:hover{color:#606c76}dl,ol,ul{list-style:none;margin-top:0;padding-left:0}dl dl,dl ol,dl ul,ol dl,ol ol,ol ul,ul dl,ul ol,ul ul{font-size:90%;margin:1.5rem 0 1.5rem 3.0rem}ol{list-style:decimal inside}ul{list-style:circle inside}.button,button,dd,dt,li{margin-bottom:1.0rem}fieldset,input,select,textarea{margin-bottom:1.5rem}blockquote,dl,figure,form,ol,p,pre,table,ul{margin-bottom:2.5rem}table{border-spacing:0;width:100%}td,th{border-bottom:0.1rem solid #e1e1e1;padding:1.2rem 1.5rem;text-align:left}td:first-child,th:first-child{padding-left:0}td:last-child,th:last-child{padding-right:0}b,strong{font-weight:bold}p{margin-top:0}h1,h2,h3,h4,h5,h6{font-weight:300;letter-spacing:-.1rem;margin-bottom:2.0rem;margin-top:0}h1{font-size:4.6rem;line-height:1.2}h2{font-size:3.6rem;line-height:1.25}h3{font-size:2.8rem;line-height:1.3}h4{font-size:2.2rem;letter-spacing:-.08rem;line-height:1.35}h5{font-size:1.8rem;letter-spacing:-.05rem;line-height:1.5}h6{font-size:1.6rem;letter-spacing:0;line-height:1.4}img{max-width:100%}.clearfix:after{clear:both;content:' ';display:table}.float-left{float:left}.float-right{float:right}

/*# sourceMappingURL=milligram.min.css.map */

/* f8f9fa */
.modal-title, .close {
    font-weight: 600;
    color: #000;
    opacity: .5;
   
}
.modal-title{
    font-size: var(--font-size-page-title);
    width: 100%;
    color:black;
    text-align: center;
    position: absolute;
    left: 0px;
}

.modal-header {
    background: #f8f9fa;
    padding-bottom: 2em;
    border-bottom: 5px solid #d8d9da;
    position:relative;
}

.map {
    width: 100%; 
    height: 15em;
    display: block;
}

.map-caption{
    position: absolute;
    z-index: 1;
    margin: 0.5em;
}

.map-caption, .map-caption * {
    color: rgba(255, 255, 255, 0.7);
}

.presence .btn.active {
    background: #1B98E0 !important;
    border: #1B98E0 !important;
    color: #FFFFFF !important;
}

.presence>.btn {
    background: #DDDDDE !important;
    border: #DDDDDE !important;
    color: rgba(0, 0, 0, 0.5) !important;

    width: 49%;
    box-shadow: none !important;
}

.presence>.btn:focus {}

.organizer-container > header{
    text-align: center;
}

header h3{
    margin-bottom: 0.5em;
}

hr{
    margin: 2em 0;
}

.first-row{
    display: grid;
    grid-template-columns:1fr 5fr;
    grid-template-rows: 1fr auto;
    grid-column-gap: 5%;
    grid-row-gap: 1em;
    margin-right: 5%;
}

.first-row a{
    grid-row-end: span 2;
}
.first-row #date-poll{
    grid-row-start: 3;
    grid-column-end: 2 span;
}

.first-row time{
    grid-row-end: span 2;
}

.member-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 55px);
    justify-content: center;
}


#groups-modal .modal-content{

    background-color: #f8f9fa !important;
}

/**            NOTIFICATIONS              **/

#navbar #notification-bell{
    padding: 1em;
    text-align: center;
    font-size: large;
}

.notifications-toggle{
    margin: 1em;
    padding: 1em;
}
.fa-bell{
    font-size: large;   
}

.fa-bell:hover{
    cursor: pointer;
    color: white !important;
}

.popover{
    color: black;
    list-style: none;
}

@media(max-width:500px){
    #notifications-toggle::before {
        content: "Notificações";
        padding-left: 0;
        margin-left: 0;
    }

    #navbar #notification-bell{
        padding-left: 0;
        margin-left: 0;
    }

    #navbar ul.navbar-nav{
        padding-top: 1em;
    }
}

.popover-body{
    margin: 0;
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    max-height: 20em;
    overflow: auto;
}
.popover-footer {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px 5px 0 0;
  }

.popover .unstyled{
    list-style: none;
    padding: 0;
}

.popover li{
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: solid 1px #EBEBEB;;
}

.popover-footer{
    text-align: center;
}


#notifications-page .notifications-title{
    padding: 1em;
    padding-left: 0;
    width: 100%;
    font-size: x-large;
    border-bottom: solid 1px black;
    font-weight: bold;
    
}

.notification-badge{
    color: var(--dark-bg-color);
}

#notifications-page ul{
    padding-top: 1em;
    
}

#notifications-page ul a{
    font-weight: lighter;
    color: black;
}


.popover-body a{
    color: black;
}

.notification-important{
    font-weight: bold;
}



.hidden{
    display: none;
}
#profile-page{
    --profile-image-size: 25%; 
    --profile-image-border: 4px;
    --profile-image-original-size:160px;
    --screen-size:100%;
}

.profile-image {
    margin-top: 2em;
    width: 25%;
}

.profile-section-name {
    margin-top: 0;
    text-align: center;
}

.profile-member-name {
    margin-bottom: 0;
}

.profile-member-name {
    text-align: center;
}

.profile-line-identified {
    border-color: rgba(255, 0, 0, 0.657);
    border-width: 0.2em;
    width: 10%;
    margin: 0 auto;
}

.profile-top {
    display: block;
    position: relative;
}

.profile-top input {
    display: none;
}

.profile-top label {
    display: block;
}

.profile-edit-image {
    margin: 0 auto;
    opacity: 0.8;
    cursor: pointer;
    position: absolute;
    bottom: 2px;
    right: calc(var(--profile-image-border) - 
           var(--profile-image-original-size)/2 
           + var(--screen-size)/2 - (var(--profile-image-size) -
           var(--profile-image-original-size))/2);
}

.profile-edit-image:hover {
    opacity: 1;
    transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}

.profile-description {
    resize: none;
}

#profile-page form {
    color: black;
}

@media(max-width:1340px) {
    .profile-edit-image {
        right: calc(var(--profile-image-border) - var(--profile-image-original-size)/2 + var(--screen-size)/2);
    }

    .profile-image {
        width: 10em;
    }
}

.profile-edit {
    margin-top: 2em;
    display: flex;
}

.profile-edit .account-manage{
    justify-self: flex-end;
    margin-left: auto;
}

.profile-edit .fas{
    color: rgba(20, 20, 20, 0.623);


}
.profile-edit .fas:hover::before {
    transform: scale(1.25);
    cursor: pointer;
}

.profile-edit .fas:before {
    display: inline-block;
    /* mandatory to be able to use transform */
    transition: 0.5s all;
}


.profile-form-btns {
    float: right;
    margin-right: 1em;
    display: none;
}

.profile-form-btns button {
    margin-right: 1em;
}

.profile-alert {
    position: absolute;
    right: 10em;
    top: 100px;
}



@media(max-width:770px) {
    .profile-alert {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        top: initial !important;
        right: initial !important;
    }
}


/* Form */

/* .profile-form-group{
    margin:0 2em 1em 2em;
}

.profile-update-btn{
    float:right;
    margin:0 2em 2em 0;
} */
.search-results{
    font-weight: bold;
    font-size: large;
    border-bottom: solid 1px black;
}

.search-button{
    float: right;
}
#chief-section-manage .promote-user-info {
    margin-top: 1em;

    align-content: center;
    vertical-align: middle;
    align-content: center;
}

#chief-section-manage .promote-user-info .member-face {
    margin-right: 1em;
}

#chief-section-manage .promote-arrow {
    margin-left: auto;
    margin-right: 2em;
    font-size: large;
}

.promote-arrow:hover::before {
    transform: scale(1.5);
    cursor: pointer;
    color: rgb(0, 194, 0);
}

.promote-arrow:before {
    display: inline-block;
    /* mandatory to be able to use transform */
    transition: 0.5s all;
}

.promote-arrow.active {
    color: rgb(0, 194, 0);
}

.section-manage-title {
    font-size: x-large;
    padding: 1em;
    padding-left: 0;
    padding-bottom: 0.5em;
    border-bottom: solid 1px gray;
    font-weight: bold;
}



.section-manage-info {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.section-manage-info .section-manage-subtitle{
    text-align: center;
    vertical-align: center;

    font-size: large;
    font-weight: lighter;
}

.section-manage-info .btn-success {
    margin-left: 1em;
}

.section-manage-info .btn-danger {
    margin-left: auto;
}

.animate-section-transition {
    -webkit-animation: mover 0.5s ease-out;
    animation: mover 0.5s ease-out;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
        opacity: 0.4;
    }

    50% {
        transform: translateY(-30px);
        opacity: 0.1;
    }

    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
        opacity: 0.4;
    }

    50% {
        transform: translateY(-30px);
        opacity: 0.1;
    }

    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

@media(max-width:770px) {


    #chief-section-manage .promote-arrow {
        justify-self: center;
        align-self: center;
        margin: 1em 0 !important;
    }

    #chief-section-manage .member-face {
        justify-self: center;
        align-self: center;
        margin: 0 1em;
    }

}