html * {
    font-family: 'Questrial', sans-serif;
}

.group-wrap {
    width: 35em;
    margin: 1em;
    border-radius: 1%;
    background-color: white;
}



.group-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.group-image {
    border-radius: 100%;
    width: 5em;
    height: 5em;
    margin-left: 1em;
    margin-top: 0.6em;
}


.group-top-side {
    padding: 0;
    display: flex;
    justify-content: flex-start;

}


.group-container .card-body {
    display: flex;
}

.group-container .card-body .rounded-circle {
    width: 2em;
    margin: 0.5em 1em;
}

.group-container .card-body label {
    font-size: 70%;
}

.moderators-container .member-container,
.members-container .member-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.group-wrap {
    margin: 1em;
}

.group-card-wrap {
    margin: 0;
    padding: 1em;
}


.group-member-name {
    font-size: var(--font-size-regular);
    margin: 0;
}

.group-members div:not(:last-child):after {
    content: ",";
    margin-right: 0.4em;
    font-size: medium;
}

.group-members {
    padding: 0;
    margin: 0.5em auto 0.5em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    align-content: flex-start;
}

.group-title{
    margin-bottom: 1em;
    font-family: 'Amatic SC', cursive;
    font-size: var(--font-size-page-title);
    letter-spacing: var(--letter-spacing-family-animated);
    font-weight: bolder;
    color: var(--dark-blue-opaque);
}

.group-member-name {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.group-member-name:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}


.group-event {
    margin: 0.2em 0.4em;
    padding: 0.2em 0.4em;
    font-size: var(--font-size-default);
    border-radius: 2%;
    font-family: 'Indie Flower', cursive;
    background-color: rgba(211, 203, 203, 0.411);
}

.group-next-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    margin: 0 1em 0 1em;
}

.group-header {
    display: flex;
    flex-direction: column;

}

.group-line {
    margin: 0.5em auto;
    border-color: rgba(141, 138, 138, 0.308);
    border-width: 0.08em;
    width: 70%;
}

.group-events.event-wrap time{
    box-shadow: 0 4px 15px 0 rgba(40,44,53,.06),0 4px 15px 0 rgba(40,44,53,.06);
}


.group-page .moderators-container,
.group-page .members-container{
    text-align: center;
}