.nav-tabs{
    border: black;

}

.nav-item{
    border-color: whitesmoke;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: whitesmoke;
}

#event-view-toggle{
    padding: 0.5em;
    position: absolute;
    top: 85px; 
    right: calc((100% - 560px )/2);

}

#nav-event-tab, #nav-groups-tab, #calendar-view-tab, #single-view-tab{
    font-size: large;
    padding: 0.5em 1em;
    color: var(--dark-bg-color);    
}


#nav-tab .nav-link:hover, #event-view-toggle .nav-link:hover{
    box-shadow: 0 4px 10px 0 rgba(27, 30, 36, 0.144), 0 2px 2px 0 rgba(40, 44, 53, 0.144);
    color: rgb(94, 164, 255);
}
#nav-tab .nav-link, #event-view-toggle .nav-link{
    color: rgba(9, 33, 65, 0.836);
}

#nav-tab .nav-link.active, #event-view-toggle .nav-link.active{
    color: var(--dark-bg);
}

#nav-tab i{
    font-size: 150%;
}

#event-view-toggle i{
    font-size: 130%;
}

@media(max-width:770px){
    #nav-event-tab, #nav-groups-tab{
        
    padding: .5rem 1rem;
    }

    #nav-tab{
        margin-left: 0 !important;
    }
    #nav-tab i{
        font-size: 100%;
    }
    
    #event-view-toggle i{
        font-size: 100%;
    }
}

#nav-tab{
    margin-left: calc((100% - 560px )/2);
}

@media(min-width:1199px){
    #nav-tab{
        margin-left: calc((100% - 2*560px - 28px)/2);
    }

    #event-view-toggle{
        right: calc((100% - 2*560px - 28px)/2);
    }
}

@media(min-width:1793px){
    #nav-tab{
        margin-left: calc((100% - 3*560px - 58px)/2);
    }

    #event-view-toggle{
        right: calc((100% - 3*560px - 58px)/2);
    }
}

@media(max-width:992px){
    #nav-tab{
        margin-left: 5px;
    }
    
    #event-view-toggle{
        position: initial;
        margin-top: -2.6em;
        float: right;
    }
}

@media(max-width:330px){
    #nav-tab{
        margin-left: 5px;
    }
    
    #event-view-toggle{
        position: initial;
        margin-top: initial;
        float: right;
    }
}

#manage-kids-faces label:hover{   
    font-weight: bold;
}

.add-icon{
    width:20%;
    max-width: 3.5em;
    position: fixed;
    border-radius:50%;
    color:rgb(255, 255, 255);
    background-color:rgba(0, 7, 36, 0.801);
    padding:0.2em;
    right:5%;
    bottom: 5%;
    transition: 0.2s all;
}

.add-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.bg-lobitos{
    background: var(--lobitos) !important;
}
.bg-pioneiros{
    background: var(--pioneiros) !important;
}
.bg-exploradores{
    background: var(--exploradores) !important;
}
.bg-caminheiros{
    background: var(--caminheiros) !important;
}