@import url(https://fonts.googleapis.com/css?family=Karla);

.member-container img{
    display: block;
    height: 40px;
    width: 40px;
    margin: 0.5em 0;
}

.member-container label{
    /* font-family: 'Karla', 'Open Sans', Helvetica, arial, sans-serif; */
    font-size: 0.7em;
    text-align: center;
}

