
/**            NOTIFICATIONS              **/

#navbar #notification-bell{
    padding: 1em;
    text-align: center;
    font-size: large;
}

.notifications-toggle{
    margin: 1em;
    padding: 1em;
}
.fa-bell{
    font-size: large;   
}

.fa-bell:hover{
    cursor: pointer;
    color: white !important;
}

.popover{
    color: black;
    list-style: none;
}

#notifications-toggle-content .not-read div{
    background-color: grey !important;
}

#notifications-toggle-content .not-read span{
    background-color: grey !important;
}

@media(max-width:500px){
    #notifications-toggle::before {
        content: "Notificações";
        padding-left: 0;
        margin-left: 0;
    }

    #navbar #notification-bell{
        padding-left: 0;
        margin-left: 0;
    }

    #navbar ul.navbar-nav{
        padding-top: 1em;
    }
}

.popover-body{
    margin: 0;
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    max-height: 20em;
    overflow: auto;
}
.popover-footer {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px 5px 0 0;
  }

.popover .unstyled{
    list-style: none;
    padding: 0;
}

.popover li{
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: solid 1px #EBEBEB;;
}

.popover-footer{
    text-align: center;
}


#notifications-page .notifications-title{
    padding: 1em;
    padding-left: 0;
    width: 100%;
    font-size: x-large;
    border-bottom: solid 1px black;
    font-weight: bold;
    
}

.notification-badge{
    color: var(--dark-bg-color);
}

#notifications-page ul{
    padding-top: 1em;
    
}

#notifications-page ul a{
    font-weight: lighter;
    color: black;
}


.popover-body a{
    color: black;
}

.notification-important{
    font-weight: bold;
}



.hidden{
    display: none;
}