#profile-page{
    --profile-image-size: 100px; 
    --profile-image-border: 4px;
    --profile-image-original-size:160px;
    --screen-size:100%;
}

.profile-image {
    margin-top: 2em;
    width: 25%;
}

.profile-section-name {
    margin-top: 0.5em;
    text-align: center;
}

#new-profile-image{
    
}

.profile-member-name {
    margin-bottom: 0;
}

.profile-member-name {
    text-align: center;
}

.profile-line-identified {
    border-color: rgba(255, 0, 0, 0.657);
    border-width: 0.2em;
    width: 10%;
    margin: 0 auto 2em auto;
}

.profile-top {
    display: block;
    position: relative;
}

.profile-top input {
    display: none;
}

.profile-top label {
    display: block;
}

.profile-edit-image {
    margin: 0 auto;
    opacity: 0.8;
    cursor: pointer;
    position: absolute;
    bottom: 2px;
    right: calc(var(--profile-image-border) - 
           var(--profile-image-original-size)/2 
           + var(--screen-size)/2 - (var(--profile-image-size) -
           var(--profile-image-original-size))/2);
}

.profile-edit-image:hover {
    opacity: 1;
    transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}

.profile-description {
    resize: none;
}

#profile-page form {
    color: black;
    margin-top: 1em;
}

@media(max-width:1340px) {
    .profile-edit-image {
        right: calc(var(--profile-image-border) - var(--profile-image-original-size)/2 + var(--screen-size)/2);
    }

    .profile-image {
        width: 10em;
    }
}

.profile-edit {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.profile-edit .account-manage{
    justify-self: flex-end;
    margin-left: auto;
}

.profile-edit .fas{
    color: rgba(20, 20, 20, 0.623);


}
.profile-edit .fas:hover::before {
    transform: scale(1.25);
    cursor: pointer;
}

.profile-edit .fas:before {
    display: inline-block;
    /* mandatory to be able to use transform */
    transition: 0.5s all;
}


.profile-form-btns {

    display: none;
}

.profile-form-btns  button:first-child{
    margin-right: 1em;
}

.profile-alert {
    position: absolute;
    right: 10em;
    top: 100px;
}


.profile-information:disabled input, .profile-information:disabled textarea{
    font-size: large;
    background-color: transparent;
    color: black;   
    border: none;
    padding-top: 0;
}

.profile-information:disabled .form-group{
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.profile-information:disabled label{
    margin-left: 0.5em;
}


@media(max-width:770px) {
    .profile-alert {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        top: initial !important;
        right: initial !important;
    }
}



/* Form */

/* .profile-form-group{
    margin:0 2em 1em 2em;
}

.profile-update-btn{
    float:right;
    margin:0 2em 2em 0;
} */

.profile-top img{
    height: 150px !important;
    width: 150px !important;
    display: flex;
    margin: 1em auto 0 auto;
}